body {
  color: #323232;
  background-color: #cbe8f2;
}

a {
  color: #323232;
}

a:hover{
  color: #323232;
}

.btn-primary{
  background-color: #87dfd6;
  border-color: #87dfd6;
}

.btn-primary:hover{
  background-color: #01a9b4;
  border-color: #01a9b4;
}

.movie-title{
  max-width: 217px;
  height: 8rem;
  overflow-y: scroll;
}

.img-fluid{
  max-height: 320px;
}

.row{
  margin:0;
}
